<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- Declare section types for Separator configuration. -->
    <sectionGroup name="Separator">
      <section name="InstrumentControlConnection" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
    <sectionGroup name="OperatorConsole">
      <section name="SeparatorConnection" type="System.Configuration.NameValueSectionHandler"/>
      <section name="ConsoleConfiguration" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
    <sectionGroup name="Service">
      <section name="ServerConnection" type="System.Configuration.NameValueSectionHandler"/>
      <section name="VertArm" type="System.Configuration.NameValueSectionHandler"/>
      <section name="ServiceLogin" type="System.Configuration.NameValueSectionHandler"/>
      <section name="BarcodeApp" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>

  <OperatorConsole>
    <SeparatorConnection>
      <add key="RetryCount" value="30"/>
      <add key="RetryWait_ms" value="6000"/>
    </SeparatorConnection>
    <ConsoleConfiguration>
      <add key="Culture" value="en-US"/>
      <add key="PauseInstrumentTimeout_ms" value="90000"/>
      <add key="BeepSwitch" value="true"/>
      <add key="ProductInfoURL" value="C:\Program Files\STI\RoboSep\bin\Robo PIS test.chm"/>
    </ConsoleConfiguration>
  </OperatorConsole>

  <Separator>
    <InstrumentControlConnection>
      <add key="RetryCount" value="25"/>
      <add key="RetryWait_ms" value="2000"/>
      <add key="ServerAddress" value="localhost"/>
    </InstrumentControlConnection>
  </Separator>


  <Service>
    <ServerConnection>
      <add key="instrumentIP" value="localhost"/>
      <add key="instrumentPort" value="8000"/>
      <add key="eventSinkIP" value="localhost"/>
      <add key="eventSinkPort" value="8003"/>
    </ServerConnection>
    <VertArm>
      <add key="flip" value="true"/>
    </VertArm>
    <ServiceLogin>
      <add key="user" value="EVnply4aS3rtfEgDMDkvRHLa/FpRpY0suJN5rbd5WjgbdyRqt2h5MwBTnEWiEFOoLmPM0vUykxAI2IJfwSETYw+gohS4LX87tm7FujzbT+OleAFW/DDj+4CNU1g/Wza+H9ziTMl+dLzrwfuG9mIMeuvpciVYSfmrLa5xth0IqJTwTATBsKdgdgKeXaO6u8+ID3Zu8Ag437a9blyNWnmduyEIr2RUbX7gcvjvhkVm+ILnmcO/j89buxBl+CrvU4Wp515KgwKrTFJef1sizTJiGFi9U2PhLB1VZDuTYKXvFeB5hHc4a3T9C/VMQmvecC82SrUgmaWHWsSLgl1kgMuabdcvT2HdQCtBdrjMYm6gxFtgpbOMwsltUyqvedT1qD+xW6mrAbU7wT0y7AfrdvLku8fbp9Pn531lAFAd3nKmL/K6YcHWI2ot75ei1/it+ZAX1Gow3hSFnVcx1M/Tav8OWXr0vG3ME60g7EPLihrH25b9tRiHXph/vnZtb5y0hveJwBdR9Wh33suMxDNdGGrjAQtmHFtCHXkrZFj4oaNcFhjyfqI7CUsght26s0T+gstytlSVxqeWLXJy1LOIIfU3xICAMxumY7MxNxI4/rXSqyMHyPudIJo35A6sSY02ro2Wg2/8i9G5QXGOKTFYnZ91P8mn7c/5bqtkzi4V8ieUoHP3lyP10vSRKbfNSN1SoVlG8xw2mfSJktNWL+qnS25WL+a7pbDJXr4K+hQc5pvK+TKpO75oEaZYlgf4DZ+FfSSYxnhAWV4/LsP+5jEODDHzNZ2Vssdq61B2+vrEaygAe4+uEYJvrn4O1fKl3QRzyRkM"/>
      <add key="maint" value="mEmB+ajB3JDlGHYjt2kVrH0px8TxFmdAzDgMwfd00YAkqpa65C5l1rhkUpAE0JlYH/B8yQXMiI7SUS2KodRXar+QJKcuN8fIpYoYd5SiqOkORX0Ri/d0ABdFwF1Hqf+2XRfWDzmaKk5+ZghCdbzSIovsYOEpNZpo0jKcvHI9SzRCTs1eKT6AA40fyoMbTlav0lYpud3jA9OXB+mPEE9Xwxm15r5II3eUcdPu96wnO2i7BI3ULaabT9F0NwB3g+TGfPAzuhncHh6wFNws79rx0sJpMeI3u/kVGpgJ915w2QapDZRH9NtfX9tpiL8mkQimBj7VbbDqy+2q/eMg82aKdn70E6p/R2w1Pu8GmfgQ+CyPQqUjKtmy0P+WFHNHNet2DaG7W+1zZNUAPs5Aa1TC5auZ9tZ+7B8vFPH9G5Qz1LMX45xND6r/fHlxFfN3TPpxVgD+Vpgsz+se91IeO5PmXhTYx2A8wQ+DB4AkGDIwAfOnL2UhUixEBPiZ24M/KwooZpliLTXaxdii3W3VlBU/+ZFcPmPxCxDAECHpd6HY/abZMwyqJAsXZzqUBctLIMyzZqbrAazQiR4X0yrYIHKhUl9auexpIOGlX6WRLeCEneD8On57jAF4yqOkiwYD/0YXzgZHngN6NKNwEDmJDsxQGoykLjwayLoythPR3eo28DDJn5nqNjTk34D0lKVI34wQmVa1Sef6QWMr482Bu3yC45jdMjyltln0ewfbIuSg0U69VDpiwzsBAsUu9qwBcjoe9WuYWlzdm/wiJl5MivVenW885bBvv47IerW8TiqPNTQH7T9mj+NYZ1FWMFAugP9KBJIuUC/5NuSUWiJndwqKgZZOdS2QITGKIgv/4N5kvpoSdu/U6/iH/r9Yxa7TM1CN"/>
      <add key="super" value="0JJldsiYycEt7bL5ZQjyTRBJd6b5WoYWyXs4OoUG+guqZNDYdvCrT4LrrIiW3oew0rLc/pYc0KOua42HnnpYXw0KiNcEgg0mvNMVnopYH31QZvfcpXmdkn20dCDGU9uFCDFo/vuoKNts/RzxFD657jgO7FGhCVr+bgUxg8pGFEZTD5F7BCGGw1mKgIm1EN97XxjaKsGF/uLnbXOrwc0LpaHp3uNs/g72484XG1dvupK99prOT387BY4Sk1P6Qklfreh/JO7emgk1KCMQre6sad1M6WaQtZdya2mGMni9w3r1+E0iCMsgVKkqeoo/FP+g9oDWKrmos1BXY4RuyxL3oD7z9xrCF8DOy63ClcJxClASURKVo1mIF0LmKDfQ8J0woqBOxZrBYAytwfXsIypLEVscV/lOd7+yAwomJWB9RLBTdjSeHR6sS1CCQtLWk0G/gIkvbTDccxbOnvoVh0W0bgUD5Ih5wRCdnxrZtpSJi6tt1XXSKd1oHeZC3WUQ6cOQGGQXfhXa88W41oPE2gRZ4q8wH6ZnKiD1Jfr3n4LMTURxt2FdBwFRmdiXOmCwhcovqB5pE3hocUZSEkvsu+JuGT/Nx0QZYG8uB6dmaqGKZEQd0XTfVxicsGurqIwxfhSVO2+uOmeveSaFgql2nSiLBnZV8mew1hk5VkhkVMCabRyslT1S1vYf8e1w4WPG+aiojposZRSe5FsIBVTJO/2iuhXn0jIVvYTIzw/76l0wD0bfunbOj1JNFtn7sLbonhcspYUzz2xXyf5x0u872SIkzFpaRG608v8LcUxFaP2QITBmAICLsXC8ISBYSugMd0y1"/>
      <add key="stemcell" value="iN0zlfmj1rTUT/G64dkAwYrg0/mHus9b6uOdDC1LxGFkjb6K9Am5r0HYammuzhMIO2BuCvoMU5TLG9CZ2AJIajmiDSAwRhVIcO+eqmBETDJ6j+G6tvdJQtXn6ukqvdx1vDvhhecOD5NJq+RjRHMO5uwTbIMrJw8r0GaawKYP0rcxT0NyZ9VpCMcPb041o+TDPCJwTu1bZ06zZlduK3Qd22ZhDG9amO4/apQUOc5HCSsssxRLNyE34vm00CyE3wCI4RGvfpKYF+NXy6m6tlEHFXqSh7IlEcPAu2zD/Lav6TyAz2N7swvr/oOjarUUYVRMjiEkUNTkPvU48yO69ZpfQ7duUy8praY1ojyvHtoJNvNJ3oonnKo4ZoTH43pbTiohriGkqKpNB/IhTZyLbh/nRo3qjf2JN1oJwEO9tbyPXhoEmdJstptD/yJTKdOrMqim6MtF7jgXz48GJenDWjgFjJAu6ABP9fMb5hOJoD/z/LYTMd+Zx795WbnlEVYFCpa4/rRlEOl5Q4F1Ibt051ge+ZqSAe1RpcnkeqHW4hVXOl/uJnYdqWB+RyIFiNHA9IZwaTWP/0sjfJdSam4wzJSQHTie0DFkYj1y3aa71RrUwKbseiTrCHvQN9ciF75/bZ5Uz/sM8Ubl+ZvIi4qUtuD8/eAgGHv0BHnFH51bYmQwUhRcFEfqQX+YVY7cIjN4TBMKjSfAAHqKWyz1kNNKyp/7e0sW9vwNndxjeINMR6NQS99dHhcnn5nf67aToQXWdc0W0eqTg23EnS7nRDw5KF6of3dxm5hWpTOgkHrIEbGr4LaAXuKLwxVQVsZyVVasc0Cl"/>
      <add key="roy" value="Mbdm/5kvhDsUofDxCp+T+SHBwhT8O1Om8X6e3M21DLr+smzTucs2Jl1ERdrKVqM0B+IqDf/Q2AlEQfmV9NL7bfPWQkNSOHIrM8q8pIad1us/R3HdIJJJuJJklffsOlKWOJQGvyrN3//lp8UY0vd3Z55k4wfkpJX0CBicbDwz+1jGzSXYlKQEc8yNAilnhkLFXZDW+/eBuwyV/7D5Qx+OcNldrYgf182cjsRCuIqtXsuBp6yuUjvxDEHajGH+PjIZaHhZKhsqNtCnRvQW3qZ6aaywxn9Q/ctKi77OlGHF1h2L472lA3P0dLHVW9pVXX0SkJzcTndOP05AeryP7OV5xMdmxRsS6yj/YIUeFco2kzdLGqGvbyHVLTwWVFbTu3zBH4Uh+M3PxBtU+pCyIxG6D6AfeT38+duAfvOvuiNSLqTKf/buFR0Otb8AZp1/yDhMV/THubC5ErSsHeBohlFt4aN5pgLELc55zwYVaO0P6rrvAuW9Cu8pCtiNxiiiIPhTHhvzvSvK13vLqXDfFYcC3Iz2q7kqwFZ5WVgCRYBRkdWB9ykB2zNqT+8EIYdZQwia"/>
    </ServiceLogin>
    <BarcodeApp>
      <add key="barcode_app_path" value="D:\OEM\Barcode\Imageview\Imageview.exe"/>
    </BarcodeApp>
  </Service>

  <system.runtime.remoting>
    <application>
      <service>
        <wellknown mode="Singleton" type="Tesla.Separator, Separator" objectUri="Separator"/>
      </service>
      <channels>
        <channel ref="tcp" displayName="OperatorConsoleEventSink" port="3150">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
        <channel ref="http" displayName="SeparatorEventSink" port="8001">
          <serverProviders>
            <formatter type="CookComputing.XmlRpc.XmlRpcServerFormatterSinkProvider, CookComputing.XmlRpc"/>
            <formatter ref="soap" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <system.diagnostics>
    <trace autoflush="true" indentsize="0"/>
    <switches>
      <!-- This switch controls the level of information from
				Trace. For no information set the value to zero. Set
				the value to 1,2,3, or 4 for error, warning, info,
				or verbose message levels respectively. -->
      <add name="System Trace Switch" value="4"/>
    </switches>
  </system.diagnostics>

  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
